<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biiosoftware - Patients</title>
  </head>
  <body>
    <h1><a href="/">Biiosoftware</a></h1>
    <ul>
      <li><a href="/appointments">Appointments</a></li>
      <li><a href="/patients">Patients</a></li>
      <li><a href="/equipments">Equipments</a></li>
    </ul>
    <h2>Patients</h2>
    <a href="/patients/new">New Patient</a>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>Complete name</th>
          <th>idn</th>
          <th>Cellphone</th>
        </tr>
      </thead>
      <tbody>
        <% patients.forEach((patient) => { %>
          <tr>
            <td><%= patient.id %></td>
            <td><%= patient.complete_name %></td>
            <td><%= patient.idn %></td>
            <td><%= patient.cellphone %></td>
            <td><a href="/patients/<%= patient.id %>">Show</a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
