<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biiosoftware - Equipments</title>
  </head>
  <body>
    <h1><a href="/">Biiosoftware</a></h1>
    <ul>
      <li><a href="/appointments">Appointments</a></li>
      <li><a href="/patients">Patients</a></li>
      <li><a href="/equipments">Equipments</a></li>
    </ul>
    <h2>Edit Equipment</h2>
    <form action="/equipments/<%= equipment.id %>" method="post">
      <p>
        <label for="model_name">model_name</label>
        <input type="text" name="model_name" id="model_name" value="<%= equipment.model_name %>">
      </p>
      <p>
        <label for="name">name</label>
        <input type="text" name="name" id="name" value="<%= equipment.name %>">
      </p>
      <p>
        <label for="serial_number">serial_number</label>
        <input type="text" name="serial_number" id="serial_number" value="<%= equipment.serial_number %>">
      </p>

      <p>
        <label for="status">status</label>
        <input type="text" name="status" id="status" value="<%= equipment.status %>">
      </p>

      <p>
        <label for="location">location</label>
        <input type="text" name="location" id="location" value="<%= equipment.location %>">
      </p>

      <input type="submit" value="Save">
    </form>
  </body>
</html>